@font-face {
    font-family: relway;
    src: url(raleway.bold.ttf);
}
body{
    font-family:relway;
    margin:0%;
}
#homebox1 {
    background: linear-gradient(228.48deg,#f2ec3b 20.3%,#80f9c0 96.91%);
    backdrop-filter: blur(4px);
    height: 110vw;
    width: 100%;
}
#navigation {
    height: 6vw;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.158);
}
#logo {
    position: relative;
    top: 0.5vw;
    left: 2%;
    cursor: pointer;
    height: 2.2vw;
    width: auto;
    margin: 1.3vw 1.5%;
}
#Homebutt {
    color: #212529;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: -1.3vw;
    left: 17%;
    cursor: pointer;
    text-decoration: none;
}
#Homebutt:hover{
    color:gold;
}
#Gallerybutt {
    color: #212529;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: -1.3vw;
    left: 21%;
    cursor: pointer;
    text-decoration: none;
}
#Gallerybutt:hover{
    color: gold;
}
#Artistsbutt {
    color: #212529;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: -1.3vw;
    left: 25%;
    cursor: pointer;
    text-decoration: none;
}
#Artistsbutt:hover{
    color: gold;
}
#Faqbutt {
    color: #212529;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: -1.3vw;
    left: 29%;
    cursor: pointer;
    text-decoration: none;
}
#Faqbutt:hover{
    color: gold;
}
#homebox2 {
    padding-top: 38%;
    padding-left: 15%;
}
.headIcon {
    cursor: pointer;
    width: 4%;
    position: absolute;
    left: 75%;
    top: 40%;
    width: 1.8%;
}
.item {
    color: #fff;
    padding: 0.1% 0.2%;
    font-weight: lighter;
    border-radius: 0.5vw;
    background-color: red;
    position: absolute;
    left: 76.6%;
    top: 30%;
    font-size: 0.6vw;
    
}
.start {
    border: none;
    color: #fff;
    font-size: .9vw;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    background: linear-gradient(180deg
    ,#f7de03 -67.82%,#ffa620);
    cursor: pointer;
    position: absolute;
    left: 80%;
    top: 40%;
}
.start:hover {
    border: none;
    color: #fff;
    font-size: .9vw;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    background: linear-gradient(180deg,#f7de03 -67.82%,#ffa620);
    cursor: pointer;
    position: absolute;
    left: 80%;
    top: 40%;
}
.gallerybox{
       
}
.gallaryTitle {
    margin: 0;
    font-size: 5vw;
    font-weight: bolder;
    position: absolute;
    top: 10%;
    left: 10%;
    font-weight: bolder;
}
.gallaryDetail{
    position: absolute;
     top: 15%;
    left: 10%; 
    font-weight: bolder;
    font-size: 1.5vw;
}
.gallaryhr {
    opacity: .25;
    border-bottom: 1% solid #343434;
    position: absolute;
    top: 20%;
    left: 10%; 
    width: 80%;
}
.leftCircle {
    position: absolute;
    left: 0;
    top: 10%;
    width: 14%;
}
.rigthCircle {
    position: absolute;
    top: 30%;
    right: 0;
    width: 10%;
}
.gallaryPicsRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.gallaryImg {
    width: 12vw;
    height: 11vw;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1vw;
    background-color: #343434;
    margin: 24% 1% 0% 11%; 
}
.gallaryImg1{
    width: 12vw;
    height: 11vw;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1vw;
    background-color: #343434;
    margin-right: 1%;
}
.gallary2Img{
    width: 12vw;
    height: 11vw;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1vw;
    background-color: #343434;
    margin: 1% 1% 0% 11%; 
}
.gallaryImg2{
    width: 12vw;
    height: 11vw;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1vw;
    background-color: #343434;
    margin: 1% 1% 0% 0%;
}
.gallary3Img{
    width: 12vw;
    height: 11vw;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1vw;
    background-color: #343434;
    margin: 1% 1% 0% 11%; 
}
.gallaryImg3{
    width: 12vw;
    height: 11vw;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1vw;
    background-color: #343434;
    margin: 1% 1% 0% 0%;
}
.gallary4Img{
    width: 12vw;
    height: 11vw;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1vw;
    background-color: #343434;
    margin: 1% 1% 0% 11%; 
}
.gallaryImg4{
    width: 12vw;
    height: 11vw;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1vw;
    background-color: #343434;
    margin: 1% 1% 0% 0%;
}
.gallary5Img{
    width: 12vw;
    height: 11vw;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1vw;
    background-color: #343434;
    margin: 1% 1% 0% 11%; 
}
.gallaryImg5{
    width: 12vw;
    height: 11vw;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1vw;
    background-color: #343434;
    margin: 1% 1% 0% 0%;
}
.footerContaine{
    background: #242729;
    width: 100%;
    height: 20vw;
    z-index: 2;
    border-radius: 2.5vw;
    margin:0%;
    position: absolute;
    top: 81.8%;
    
}
.footLogo{
       position: absolute;
       left: 8%;
       margin-top:3%;
       width: 15%;
}
.social{
   
}
.facebookimg{
    position: absolute;
    left: 8%;
    margin-top:7%;
    font-size: 3vw;
    cursor: pointer;
    width: 3%;
}
.instaimg{
    position: absolute;
    left: 12%;
    margin-top:7%;
    font-size: 3vw;
    cursor: pointer;
    width: 3%;
}
.footOption1 {
    position: absolute;
    left: 40%;
    margin-top: 3.2%;
    color: #fff;
    cursor: pointer;
    font-size: 1vw;
}
.footOption1:hover{
    position: absolute;
    left: 40%;
    margin-top: 3.2%;
    color:gold;
    cursor: pointer;
    font-size: 1vw;
}

.footOption2{
    position: absolute;
    left: 40%;
    margin-top: 5.5%;
    cursor: pointer;
    font-size: 1vw;
    color: #f0fff4;
    display:block;
}
.footOption2:hover{
    position: absolute;
    left: 40%;
    margin-top: 5.5%;
    cursor: pointer;
    font-size: 1vw;
    color: gold;
    display:block;
}
.footOption3{
    position: absolute;
    left: 40%;
    margin-top: 7.5%;
    cursor: pointer;
    font-size: 1vw;
    color: #f0fff4;
    display: block;
}
.footOption3:hover{
    position: absolute;
    left: 40%;
    margin-top: 7.5%;
    cursor: pointer;
    font-size: 1vw;
    color: gold;
    display:block;
}
.footOption4{
    position: absolute;
    left: 40%;
    margin-top: 9.5%;
    cursor: pointer;
    font-size: 1vw;
    color: #f0fff4;
    display: block;
}
.footOption4:hover{
    position: absolute;
    left: 40%;
    margin-top: 9.5%;
    cursor: pointer;
    font-size: 1vw;
    color: gold;
    display:block;
}
.footOption5{
    cursor: pointer;
    font-size: 1vw;
    color: #f0fff4;
    position: absolute;
    left: 65%;
    margin-top: 3.2%;
}
.footDetail{
    font-size: 1vw;
    color: #a4a4a4;
    text-align: justify;
    position: absolute;
    left: 65%;
    margin-top: 5.2%;
}
.footInput {
    color: rgb(255, 255, 255);
    background-color: rgb(58, 61, 62);
    font-size: 0.9vw;
    position: absolute;
    left: 65%;
    margin-top: 9.2%;
    padding: 0.4%;
    font-weight: bolder;
    border: none;
    box-shadow: 0 4px 10px rgb(47 47 47 / 25%);
    background-image: url("https://cdn.pixabay.com/photo/2015/12/07/22/53/paper-planes-1081560_1280.png");
    background-repeat: no-repeat;
    background-size:7%;
    background-position: right;
    
}
.navbarpara{
    margin: 18% 0% 0% 4%;
    z-index: 3;
    color: #a4a4a4;
    font-size: 0.8vw;
    font-weight: bolder;
}
.navbarpara:hover{
    margin: 18% 0% 0% 4%;
    color: white;
    font-size: 0.8vw;
    font-weight: bolder;
}
.footerCard{
  position: absolute;
  left: 36%;
  top: 17vw;
 width: 10%;
}
.tos{
    margin: -1% 0% 0% 60%;
    color: #a4a4a4;
    font-size: 0.8vw;
    font-weight: bolder;
}
.tos:hover{
    margin: -1% 0% 0% 60%;
    color:#fff;
    font-size: 0.8vw;
    font-weight: bolder;
}
.privacytext{
    margin: -0.8% 0% 0% 80%;
    color: #a4a4a4;
    font-size: 0.8vw;
    font-weight: bolder;
}
.privacytext:hover{
    margin: -0.8% 0% 0% 80%;
    color: #fff;
    font-size: 0.8vw;
    font-weight: bolder;
}